{
  "manifest": [
    {
      "url": "{{PUBLIC_URL}}/static/icons/android-chrome-36x36.svg"
    },
    {
      "url": "{{PUBLIC_URL}}/static/icons/android-chrome-48x48.svg"
    },
    {
      "url": "{{PUBLIC_URL}}/static/icons/android-chrome-72x72.svg"
    },
    {
      "url": "{{PUBLIC_URL}}/static/icons/android-chrome-96x96.svg"
    },
    {
      "url": "{{PUBLIC_URL}}/static/icons/android-chrome-144x144.svg"
    },
    {
      "url": "{{PUBLIC_URL}}/static/icons/android-chrome-192x192.svg"
    },
    {
      "url": "{{PUBLIC_URL}}/static/icons/icon-large-512x512.svg"
    }
  ]
}
